# Jira API Configuration
JIRA_HOST=hurtigruten.atlassian.net
JIRA_EMAIL=your-email@hurtigruten.com
JIRA_API_TOKEN=your-jira-api-token-here

# Notion API Configuration
NOTION_API_KEY=secret_yournotionintegrationtokenhere

# Slack API Configuration
SLACK_BOT_TOKEN=xoxb-yourslackbottokenhere
